/** ----------------------------------------------------------- */
/** ---------------- FORMATAÇÃO GLOBAL ---------------- */
*{
    padding: 0px;
    margin: 0px;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: "Trbuchet MS", Helvetica, sans-serif;

}

body{
    font-size: 62.5%;
    
}

header{
    background-color: rgb(31,132,255);
    width: 100%;
    position: relative;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    
    
}





/** ---------------- FORMATAÇÃO GLOBAL ---------------- */
/** ----------------------------------------------------------- */





/** ----------------------------------------------------------- */
/** ---------------- BARRA DE NAVEGAÇÃO ---------------- */

/*#      NAV        */
#nav{
    max-width: 51%;
    margin: auto;
    height: 8vh;
    max-height: 55px;
    min-height: 45px;
    display: flex;
}
/*#   FIM NAV      */




/*#        LOGO          */
nav img{
    width: 2vw;
    min-width: 33px;
    align-self: center;
}
a#img{
    align-self: center;
    cursor: pointer;
}
/*#       FIM LOGO       */





/*.                            HAMBURGUER                                */
#checkbox-hamburguer{
    display: none;
}

#label-menu{
    position: relative;
    width: 6.0vw;
    min-width: 28px;
    max-width: 35px;
    margin-left: auto;
    align-self: center;
    cursor: pointer;
}

#menu{
    height: 40px;
}

#hamburguer{
    top: 19px;
    position: relative;
    display: block;
    background-color: #fff;
    height: 2px;
    transition: .4s ease-in-out;
}

#hamburguer::before,
#hamburguer::after{
    background: #fff;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .4s ease-in-out;
}

#hamburguer::before{
    top: -10px;
}

#hamburguer::after{
    bottom: -10px;
}

input#checkbox-hamburguer:checked ~ label #hamburguer{
    transform: rotate(45deg);
}

input#checkbox-hamburguer:checked ~ label #hamburguer::before{
    transform: rotate(90deg);
    top: 0px;
}

input#checkbox-hamburguer:checked ~ label #hamburguer::after{
    transform: rotate(90deg);
    bottom: 0px;
}
/*.                          FIM HAMBURGUER                                */



/*.                           CONTEUDO HAMBURGUER                                */
#menuExpandido{
    background-color: rgb(31,132,255);
    width: 100%;
    font-size: 20px;
    position: absolute;
    z-index: 2;
}


#div-menu{
    max-width: 70%;
    margin: auto;
}

#lista-menu{
    padding-top: 24px;
}

.item-lista-menu{
    padding-bottom:7px;
    color: #fff;
}
/*.                          FIM CONTEUDO HAMBURGUER                                */





/*;             MENU HORIZONTAL            */
#menu-horizontal{
    width: 50%;
    font-size: 20px;
    align-self: center;
    margin-left: auto;
}

#menu-horizontal-itens{
    float: right;

}
.menu-horizontal-item{
    display: inline-block;
    padding-left: 20px;
    color: #fff;
}
/*;           FIM MENU HORIZONTAL            */

/** ---------------- FIM BARRA DE NAVEGAÇÃO ---------------- */
/** ----------------------------------------------------------- */





#titulo{
    display: flex;
    justify-content: center;
    position: relative;
    top: 5%;
}

h1{
    font-size: 4.6vw;
    font-weight: 100;
    font-family: Segoe UI;
}





/** ----------------------------------------------------------- */
/** ---------------- CONTAINER MAIN ---------------- */


.container{
    position: relative;
    top: 70px;
    background-color: rgb(248, 248, 248);
    border: 0.01px solid rgb(204, 204, 204);
    box-shadow: 4px 4px 10px rgb(180, 180, 180);
    border-radius: 8px;
    width: 50%;
    min-width: 600px;
    padding: 40px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: repeat(2, 5vh);
    grid-template-columns: repeat(7, 1fr);

    grid-gap: 12px;
}  


.tipo{ 
    grid-column-start: 4;
    grid-column-end: 8;
}


.descricao{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 6;
} 


.valor{
    grid-row-start: 2;

}


.ano, .mes, .dia, .valor, .consultar{
    min-width: 100px;
}


.item, .item2{
    border: 1px solid rgb(207, 206, 206);

    border-radius: 7px;
    height: 46px;
    display: flex;
}

.consultar{
    background-color: rgb(31,132,255);
}


#tipo, #mes, #ano, #dia, #descricao, #valor, #btn-consultar{
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: rgb(168, 168, 168);
    border: none;
    padding-left: 5px;

}


#dia, #descricao, #valor{
    padding-left: 7px;
}

#btn-consultar{
    background: none;
    color: #fff;
    padding-left: 0;
}


::placeholder{
    color: rgb(168, 168, 168);

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(168, 168, 168);

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(168, 168, 168);

}


/** ---------------- FIM CONTAINER MAIN ---------------- */
/** ----------------------------------------------------------- */




.modal{
    display: flex;
    justify-content: center;
    font-size: 16px;
    top: 70px;
    position: relative;
    align-items: center;
}

.titulo-modal{
    width: 880px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}








/** ----------------------------------------------------------- */
/** ---------------- MEDIA QUERIES ---------------- */
 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    
    #menu-horizontal{
        display: none;
    }

    #nav{
        max-width: 72%;
    }

    .container{
        width: 72%;
        min-width: 0;
        top: 50px;
        padding: 0;
        border: none;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        justify-content: flex-end;
        position: relative;
        grid-gap: 3px;

    }  
    h1{
        font-size: 22px;
    }

    .item, .item2{
        height: 50px;

    }
    #tipo, #mes, #ano, #dia, #descricao, #valor{
        font-size: 16px;
    }

    .titulo-modal{
        margin-top: 20px;
        width: 68.6%;
        margin-bottom: 40px;
        height: 20px;
        font-size: 2.5vw;
    }
 }




 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
    /* MENU HORIZONTAL */
    #menu-horizontal{
        display: none;
    }
    /* FIM MENU HORIZONTAL */


        #nav{
        max-width: 72%;
    }
    
    .container{
        width: 72%;
        min-width: 0;
        top: 80px;
        padding: 0;
        border: none;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        justify-content: flex-end;
        position: relative;
        grid-gap: 3px;

    }  

    .item, .item2{
        height: 50px;
    }

    #tipo, #mes, #ano, #dia, #descricao, #valor{
        font-size: 16px;
    }

    .titulo-modal{
        width: 68.6%;
    }
 }





 /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991.98px) { 
    #menu-horizontal{
        display: none;
    }

    #nav{
        max-width: 72%;
    }
    
    .container{
        width: 72%;
        min-width: 0;
        top: 80px;
        padding: 0;
        border: none;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        justify-content: flex-end;
        position: relative;
        grid-gap: 3px;

    }  

    .item, .item2{
        height: 60px;

    }
    #tipo, #mes, #ano, #dia, #descricao, #valor{
        font-size: 18px;
    }

    .titulo-modal{
        width: 69%;
        
    }

 }



 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

    #label-menu{
        display: none;
    }

    #nav{
        max-width: 75%;
    }

    .container{
        min-width: 68%;
        top: 80px;
    }

    .titulo-modal{
        width: 73.6%;
        margin-top: 35px;
        
    }
    

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    #nav{
        min-width: 900px;
    }

    #label-menu{
        display: none;
    }

    .container{
        max-width: 46.5%;
        min-width: 820px;

    }

    .titulo-modal{
        width: 49.6%;
        min-width: 877px;
    }
    
 }
/** ---------------- FIM MEDIA QUERIES ---------------- */
/** ----------------------------------------------------------- */
